@import url("normalize.css");
@import url("skeleton.css");

* > * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: unset;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  overscroll-behavior: none none;

  margin: 0 auto;

  font-size: 10px;
}
